<h2>Wines at Winery: <%= @winery.name %></h2>
<%= link_to "New #{@winery.name} Wine", "/wineries/#{@winery.id}/wines/new", method: :get %>
<%= link_to "Alphabetize", "/wineries/#{@winery.id}/wines?sort=alpha" %><br>

<% @wines.each do |wine| %>
<h3><%= wine.name %></h3>
<%= link_to "Edit Info For #{wine.name}", "/wines/#{wine.id}/edit" %>
<p>ABV: <%= wine.abv %></p>
<p>Still Available? <%= wine.still_available %></p><br/>
<% end %>